* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  background-color: #030202;
  min-height: 100vh;
  border: 10px solid #e10b16;
}

body {
  color: white;
}

.content {
  max-width: 900px;
  margin: 0 auto;
}

img {
  height: 500px;
  width: 300px;
  border-radius: 05%;
}

.top-section {
  display: flex;
  justify-content: space-between;
}
